scripts/terraform/staging/*
!scripts/terraform/staging/.gitkeep
__azurite_db_table__.json
scripts/terraform/logs/ipm-process.log
__azurite_db_table__.json
logs/ipm-process.log
scripts/terraform/tests/logs/*
scripts/terraform/tests/CodeCoverage.xml
scripts/terraform/tests/logs/ipm-process.log
